html{
    background: #0A5C73;
}

body{
    padding: 20px;
    margin: 0;
    background-image: url("loginBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px solid #fff;
    border-radius: 25px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(130, 220, 223);
}

table.gridtable{
    color: #337;
    border-width: 1px;
    border-color: #559;
    margin: 0 auto;
}

table.gridtable th{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background: #ccf;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table.gridtable td{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#form
{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 8px;
    border-radius: 25px;
}

.textBox
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 3px 3px 3px rgb(0, 0, 0); 
}

label
{
    color: cadetblue;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.topBar{
    display: flex;
    padding: 10px;
    border: 0px solid #fff;
}
.topButton{
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    text-align: center;
    background: #ccf;
    border: 1px solid #559;
    border-radius: 25px;
    height: 5%;
    padding: 8px;
    margin: 0 auto;
}

.button
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 75%;
    display: table-cell;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background: #ccf;
    border-radius: 25px;
    text-align: center;
}

.post
{
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
}

#canvasId
{
    background-color: #616161;
   

}

.container{
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
}

.postTableInfo{
    border: 2px solid #fff;
    flex: 0.2;
    background: #388AA0;
}

.postInfo{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-radius: 10px;
    border: #fff;
    padding: 1px;
}

.postImg{
    width: 50%;
}

.postMessage{
    font-family: Arial, Helvetica, sans-serif;
    flex: 2;
    display: flex;
    background: #388AA0;
    flex-direction: row;
}
.test{
    flex: 2;
}

.postButtonDiv{
    background: #388AA0;
    margin: 10px;
    padding: 2px;
    flex: 0.2;
}

.postButton{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #ccf;
    border: 1px solid #559;
    border-radius: 25px;
    height: 5%;
    padding: 8px;
    margin: 1px;
}

#users{
    visibility: hidden;
    font-size: 0px;
}