html{
    background: #227;
}

body{
    width: 80%;
    padding: 20px;
    background: #eeb;
}

table.gridtable{
    color: #337;
    border-width: 1px;
    border-color: #559;
}

table.gridtable th{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background: #ccf;
}

table.gridtable td{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #559;
    background: #fff;
}

.post{
    border: 2px solid black;
}