extends layout
block content
    form(id="form", method="post", action="/createPost/" + user.id)
        label UserID:
        input(class="textBox", type="text", name="ownerID", value = user.id)
        br
        label UserName:
        input(class="textBox", type="text", name="ownerName", value = user.userName)
        br
        label UserAvi:
        input(class="textBox", type="text", name="ownerAvatar", value = user.avatar)
        br
        label Content:
        input(class="textBox", type="text", name="message")
        br

        input(class="textBox", type="submit", value="Create Post")