extends layout
block content
    form(id="form", method="post", action="/create")
        lable Name:
        input(type="text", name="name")
        br
        lable Age:
        input(type="text", name="age")
        br
        label Species:
        select(name="species")
            option(value="Human") Human
            option(value="Vampire") Vampire
            option(value="Zombie") Zombie
            option(value="Wereworlf") Wereworlf
            option(value="Corpse") Corpse
            option(value="Furry") Furry
        br
        input(type="submit", value="Add Person")