extends layout
block content
    form(id="form", method="post", action="/createUser")
        label UserName:
        input(class="textBox", type="text", name="userName")
        br

        label Password:
        input(class="textBox", type="text", name="password")
        br

        label Avatar:
        input(class="textBox", type="text", name="avatar")
        br

        label Email:
        input(class="textBox", type="text", name="email")
        br

        label Age:
        input(class="textBox", type="text", name="age")
        br

        label Privilege:
        select(class="textBox", name="isAdmin")
            option(value="true") Admin
            option(value="false") User
        br

        input(class="textBox", type="submit", value="Add User")
