extends layout
block content
    form(id="form", method="post", action="/create")
        lable UserName:
        input(type="text", name="userName")
        br
        lable Password:
        input(type="text", name="password")
        br
        label Privlage:
        select(name="isAdmin")
            option(value="true") Admin
            option(value="false") User
        lable Avatar:
        input(type="text", name="avatar")
        br
        lable Email:
        input(type="text", name="email")
        br
        lable Age:
        input(type="text", name="age")
        br

        br
        input(type="submit", value="Add User")
