extends layout
block content
    form(id="form", method="post", action="/edit/" + person.id)
        lable Name:
        input(type="text", name="name", value = person.name)
        br
        lable Age:
        input(type="text", name="age", value = person.age)
        br
        label Species:
        select(name="species")
            option(select = person.species) #{person.species}
            option(value="Human") Human
            option(value="Vampire") Vampire
            option(value="Zombie") Zombie
            option(value="Wereworlf") Wereworlf
            option(value="Corpse") Corpse
            option(value="Furry") Furry
        br
        input(type="submit", value="Update Person")