extends layout
block content
    form(id="form", method="post", action="/editUser/" + user.id)
        label UserName:
        input(class="textBox", type="text", name="userName", value = user.userName)
        br
        label Password:
        input(class="textBox", type="text", name="password", value = user.password)
        br
        label Avatar:
        input(class="textBox", type="text", name="avatar", value = user.avatar)
        br
        label Email:
        input(class="textBox", type="text", name="email", value = user.email)
        br
        label Age:
        input(class="textBox", type="text", name="age", value = user.age)
        br
        label Privilege:
        select(class="textBox", name="isAdmin")
            option(select = user.isAdmin) #{user.isAdmin}
            option(value="true") Admin
            option(value="false") User
        br
        
        br
        input(class="textBox", type="submit", value="Update User")