extends layout

block content
    a(href="/data", class="button") data
    each item in post
        div(class="post")
            if(item.ownerID == "5c76dbf6df52e41a58ef8d75")
                a(href="/editPost/" + item.id) Edit
            if(item.ownerID == "5c76dbf6df52e41a58ef8d75")
                a(href="/deletePost/" + item.id) delete
            p #{item.ownerName}
            img(src="profiles/" + item.ownerAvatar, alt=item.ownerName)
            p #{item.date}
            p #{item.message}
