extends layout

block content
    a(href="/data") data
    each item in post
        div(class="post")
            if(item.ownerID == "5c76dbf6df52e41a58ef8d75")
                a(href="/editPost/" + item.id) Edit
            if(item.ownerID == "5c76dbf6df52e41a58ef8d75")
                a(href="/deletePost/" + item.id) delete
            p #{item.ownerName}
            p #{item.ownerAvatar}
            p #{item.date}
            p #{item.message}