extends layout
block content
    form(id="form", method="post", action="/login")
        lable Username:
        input(type="text", name="userName")
        br
        lable Password:
        input(type="text", name="password")
        br
        input(type="submit", value="Login")