extends layout
block content
    form(id="form", method="post", action="/login")
        label Username:
        input(class="textBox", type="text", name="userName")
        br
        label Password:
        input(class="textBox", type="text", name="password")
        br
        input(class="textBox", type="submit", value="Login")